*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    
}

body{
    background-color: teal;

}

.wrapper{
    width: 80vmin;
    padding: 50px 40px;
    background-color: rgb(40, 36, 30);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    box-shadow: 20px 20px 40px rgb(31, 31, 21);
}

span{
    display:block;
    width: 100%;
    text-align:center;
    font-size: 100px;

}

p{
    font-size: 16px;
    color: bisque;
    font-weight: 400;
    text-align: center;
    word-wrap: break-word;
    line-height: 20px;
    margin: 20px 0;
    opacity: 0;
}
/* .fade creates the fade in and out of the jokes*/
.fade{
    opacity: 1;
    transition: opacity 1.5s;
}
button{
    display: block;
    background-color: rgb(140, 105, 62);
    border: none;
    padding: 5px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    padding: 12px 25px;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
}

.emoji-widget{ 
    margin: 0 auto;
    display: flex;
    background: #111;
    padding: 20px 30px;
    border: 1px solid rgb(113, 108, 108);
    border-radius: 5px;
    height: 25px;
    width: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction:row-reverse ;
    

} 

.wrapper .emoji-widget input{
     display: none;
}

.emoji-widget label{
    font-size: 20px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;

}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover{
    color: #fd4;
    text-shadow: 0 0 10px #fd4;


}
input:checked ~ label{
    color: #fd4;
    text-shadow: 0 0 5px #fd4;

}

input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow:  0 0 20px #952;
}

.dropBtn{
    background-color: rgb(18, 16, 13);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 50px;

    
}


.dropBtn:hover, .dropBtn:focus{
    background-color: rgb(215, 176, 129);

}

.dropDown{
    position: block;
    display: inline;
}
.dropDown-content {
    display: none;
    position:absolute;
    background-color: bisque;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgb(151, 151, 71);
    z-index: 1;
    margin: 50px;
    top: 60px;
}

/* Links inside the dropDown*/
.dropDown a{
    color: #444;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropDown-content a:hover{
    background-color: antiquewhite;
}

.show {
    display: block;
}
